<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link href="{% static 'estudiante/estudiante_lectura/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@300&display=swap" rel="stylesheet"> 
    <link href="https://fonts.googleapis.com/css?family=Lora:400,400i,700,700i" rel="stylesheet">
    <link href="{% static 'estudiante/css/gestion.css' %}" rel="stylesheet">
    <link href="{% static 'estudiante/css/login.css' %}" rel="stylesheet">
    <title>Recuperar contraseña</title>
</head>
<body>
    
<div class="body"></div>
<div class="grad"></div>
<div class="header">
    <div >Su contraseña se restablecio correctamente<br/><span> </span></div>
</div><br>  
    <div class="login">
        {% csrf_token %}   
            <a href="{% url 'login' %}" class="btn btn-info"> Inicio de sesión </a>
        <br/>
    </div>   
</body>
</html>