.item {
    position: relative;
    float: right;
}



svg {
   -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    
}

.circle_animation {
  stroke-dasharray: 440; /* this value is the pixel circumference of the circle */
  stroke-dashoffset: 440;
  transition: all 1s linear;
  
}